celcat.exe
data.ics
.vscode/
config.json
cal.svg
CYCelcat-ics_Linux_amd64
CYCelcat-ics_Win_amd64.exe
CY-celcat.exe
cal.png
CY-celcat
script/config
script/out
*.ics
web/static/calendars/*
out/calendar/html/*
out/calendar/ics/*
out/calendar/png/*
main
